@use '/src/styles/mixin.scss' as mixin;

@keyframes showFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dance {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.resultContainer {
  overflow: hidden;
  margin-top: 12px;
}

.bubbleContainer {
  position: relative;
  animation: FadeIn 250ms;
  z-index: 1;
}

.result {
  &::before,
  &::after {
    display: block;
    box-sizing: border-box;
  }

  &::before {
    content: attr(data-text);
    padding: 12px;
    text-align: center;
    word-break: break-word;
    border-radius: 12px;
    background-color: #ececec;
  }

  &::after {
    content: '';
    --height: 15px;
    margin: 0 auto;
    width: calc(var(--height) * 2);
    bottom: calc(var(--height) * -1);
    border: var(--height) solid transparent;
    border-bottom-width: 0;
    border-top-color: #ececec;
  }
}

.image {
  text-align: center;
  margin-top: -15px;
  animation: showFromRight 500ms;
  img {
    width: 300px;
    transform-origin: 60% 85%;
    animation: dance 500ms infinite;
  }
  @include mixin.wide {
    margin-top: 0;
    img {
      width: 400px;
    }
  }
}
